.card_content {
    max-height: 0;
    overflow: hidden;
    color: rgb(172, 105, 235);
  }


.card.active .card_content {
    max-height: 100%;
}

.card{
    text-align: center;
    border: 1.5px solid rgb(172, 105, 235);
    border-radius: 2rem;
}